<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Start page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="/resources/css/style.css" rel="stylesheet">
</head>
<body>
<header th:include="blocks/fragments.html :: header" th:with="person=${person}"></header>


<div id="page-container">
  <div id="content-wrap">
    <div class="container">

      <div class="row justify-content-left ordersView" id="ordersView">
        <div th:each="user: ${users}">
          <div class="col-12 d-flex p-2 bg-light rounded-1 mb-3">
            <div class="img-crop">
              <img th:if="${user.avatar} != null" th:src="${user.avatar}" />
              <img th:if="${user.avatar} == null" src="/resources/avatar.png" />
            </div>
            <div class="ps-3 w-75">

              <h5 class="" th:text="${user.getStringRole()}">Card title</h5>
              <p class="" th:text="${'Full name -' + user.name + ' ' + user.lastname}">Card title</p>
              <p class="" th:text="${'username -' + user.username}">Card title</p>
              <p class="" th:text="${'address -' + user.address}">Card title</p>
              <p class="" th:text="${'Phone Number -' + user.phoneNumber}">Card title</p>
              <a th:href="@{view/{id}/(id=${user.id})}">Edit</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 d-flex flex-column mb-3" th:each="user : ${users}">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-center" th:text="${user.roles}"> </h4>
            <h4><a th:href="@{view/{id}/(id=${user.id})}">Edit</a></h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <table class="table">
                <tbody>
                <tr>
                  <th>First Name</th>
                  <td th:text="${user.name}">name</td>
                </tr>
                <tr>
                  <th>Last Name</th>
                  <td th:text="${user.lastname}">lastname</td>
                </tr>
                <tr>
                  <th>Username</th>
                  <td th:text="${user.username}">username</td>
                </tr>
                <tr>
                  <th>Phone Number</th>
                  <td th:text="${user.phoneNumber}">phoneNumber</td>
                </tr>
                <tr>
                  <th>Address</th>
                  <td th:text="${user.address}">address</td>
                </tr>
                <tbody/>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div th:replace="blocks/fragments.html :: "></div>-->

<footer th:replace="blocks/fragments.html :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>